body {
  overflow-y: auto;
}

/* ГЛАВНОЕ МЕНЮ */

#header {
  border: 1px solid #000;
  padding: 10px;
  display: flex;
  align-items: center;
  background: #779eff;
  width: auto;
  border: 6px solid #FF5A00;
  border-radius: 15px 100px 15px 100px


}

.navbar-logo {
  max-width: 10%;
  height: auto;
  margin-right: 10px;
}

#menu-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#menu-main li {
  margin-right: 10px;
  width: 100%;
}

#menu-main li a {
  text-decoration: none;
  color: #000;
  font-size: 115%;
}

#menu-main li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  #menu-main {
    flex-wrap: wrap;
  }

  #menu-main li {
    flex-basis: 50%;
  }
}

/* FOOTER */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3b3f49;
  padding: 1% 0%;
  text-align: center;
  border-top: 5px solid #ccc; /* Линия границы сверху */
}

#footer .container {
  max-width: auto;
  margin: 0 auto;
}

#footer p {
  margin: 0;
  color: #a19221;
  font-weight: bold;
  font-size: 100%;
}


/* КОНТЕНТ */

#content {

    overflow-y: scroll;
    margin-bottom: 50px;
    padding: 20px;
    color: black;
    width: 90%; /* Задает ширину блока */
    height: 90%; /* Задает высоту блока */
    background-color: #f1f1f1; /* Задает цвет фона блока */
    margin: 30px auto; /* Центрирование содержимого */
    margin-bottom: 50px; /* Отступ от нижней границы */
    }

#recognize-image {
    max-width: 800px;
    max-height: 800px;
    width: auto;
    height: auto;
    margin: auto;
}
.form-style {
    max-width: 70%;
    margin: 0 auto;
    padding: auto;
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
}

.form-style label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.form-style input,
.form-style textarea {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.my-select-style {
    width: 90%;

    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.form-style button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-style button[type="submit"]:hover {
  background-color: #45a049;
}

.form-style .error-message {
  color: #ff0000;
  margin-top: 5px;
}
.stat-picture {
  max-width: 100%;
  max-height: 100%;
}

.page-content {
    font-size: 20px; /* Размер шрифта внутри списка */
   }
/* ЗАГОЛОВОК */