{% extends 'recognizer/base.html' %}


{% block breadcrumbs %}

	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}

{% block content %}
<h1>Техническая информация:</h1>
<h2>Проект подготовлен в учебно-ознакомительных целях. При его создании использовались следующие ресурсы и библиотеки:</h2>
<ul class="page-content">
    <li>Библиотека компьютерного зрения imageAI использовалась для создания классификатора. Классификатор построен на нейронной сети сверточного типа <b>MobileNetV2 (MobileNet Version 2)</b>. <a href="https://www.kaggle.com/datasets/tongpython/cat-and-dog">Датасет</a>, использовавшийся для обучения. Точность модели после обучения ~88%</li>
    <li>Для создания архитектуры веб-приложения использовался язык Python и библиотека Django 4.2.1.</li>
    <li>Для построения графиков использовалась библиотека Matplotlib</li>

</ul>

{% endblock %}
