{% extends 'recognizer/base.html' %}

{% block breadcrumbs %}

	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}


{% block content %}
<h1>Обратная связь.</h1>
<h2>В этом разделе находится форма обратной связи, где вы можете кратко (или не очень) описать свои впечатления, поделиться соображениями,
    дать feedback, ну или просто рассказать о чем вашей душе угодно.</h2>

<form class= 'form-style' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
<button type="submit">Отправить</button>
    </form>
{% endblock %}
