{% extends 'recognizer/base.html' %}

{% block breadcrumbs %}
	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}


{% block content %}
<h1>Добро пожаловать на мой сайт, который только и умеет, что отличать кошек от собак на изображениях! Ресурс создан <i style="color: red;">исключительно</i> в учебных целях</h1>
<h2>РАЗДЕЛЫ САЙТА:</h2>
<ul class="page-content">
  <li><a href="{% url 'home' %}"><b>Главная.</b></a> Сейчас вы находитесь на главной странице сайта. Здесь представлена вводная информация о том, что здесь вообще происходит.</li>
  <li><a href="{% url 'recognize' %}"><b>Распознать изображение.</b></a>  В этом разделе находится форма, через которую вы можете загрузить свое изображение и узнать, что на нем изображено – кошка или собака.</li>
  <li><a href="{% url 'stats' %}"><b>Статистика.</b></a> В этом разделе вы можете ознакомиться со статистикой сайта. Здесь отображается информация о результатах работы классификатора, а также информация о том, что за изображения загружали пользователи.</li>
  <li><a href="{% url 'about' %}"><b>Техническая информация.</b></a> В этом разделе представлена информация о проекте в целом. Какие библиотеки и датасеты использовались для создания и обучения классификатора и веб-приложения в целом.</li>
  <li><a href="{% url 'feedback' %}"><b>Обратная связь.</b></a> В этом разделе находится форма обратной связи, через которую вы можете, например, описать свой user-experience или же просто написать пару слов о том, какой хороший или плохой получился проект.</li>
</ul>

<p class="page-content"><b>Присоединяйтесь ко мне на этом прекрасном (или не очень) ресурсе и наслаждайтесь увлекательным процессом классификации фотографий кошек и собак!</b></p>

{% endblock %}



