{% extends 'recognizer/base.html' %}

{% block breadcrumbs %}

	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}


{% block content %}
    <h1>Распознание изображения:</h1>
    <h2>В этом разделе вы можете загрузить свое изображение и узнать, что на нем изображено – кошка или собака.</h2>
    <h2>Порядок действий:</h2>
<ul class="page-content">
  <li>В форме ниже выберите изображение на вашем устройстве (в формате .png\.jpeg).</li>
  <li>Нажмите <i>"Классифицировать изображение"</i>.</li>
    <li>Далее вы будете перенаправлены на страничку с результатами классификации и формой обратной связи.</li>
</ul>
<h2 style="color: red;">ВНИМАНИЕ!</h2>
<p class="page-content">Классификатор обучен только на изображениях кошек и собак и отличать умеет только кошек и собак. Кроме того, лучше всего классификатор справляется с изображениями, на которых кроме кошки или собаки, нет ничего живого. Поэтому, если вы собираетесь загрузить фотографию попугая, девочки из соседнего подъезда или своей мамы, не удивляйтесь, что классификатор обзовет его\ее\это кошкой или собакой! Впрочем, дело ваше.</p>

<div>
    <form class= 'form-style' action="{% url 'recognize' %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="form-error">{{form_for_rec.non_field_errors}}</div>
        {% for f in form_for_rec %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{f}}</p>
        <div class="form-error">{{f.errors}}</div>
        {% endfor %}

        <button type="submit">Классифицировать изображение</button>
    </form>
</div>
{% endblock %}
