{% extends 'recognizer/base.html' %}
{% load static %}
{% block breadcrumbs %}

	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}


{% block content %}
<h1>Графики:</h1>
<!--<p>{{user_stat}}</p>-->
<!--<p>{{recognizer_stat}}</p>-->
<!--{% for key, value in user_stat.items %}-->
<!--    <p>Key: {{ key }}, Value: {{ value }}</p>-->
<!--{% endfor %}-->
<div class="stats">
 <h1><img class="stat-picture" src="{% static 'recognizer\images\stat_recognizer.png' %}" alt="Pie Chart"></h1>
 <h1><img class="stat-picture" src="{% static 'recognizer\images\stat_user.png' %}" alt="Pie Chart"></h1>
</div>

{% endblock %}