{% extends 'recognizer/base.html' %}
{% load static %}
{% block breadcrumbs %}

	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}


{% block content %}

<h1>Статистика</h1>
<h2>В этом разделе вы можете познакомиться:</h2>
<ul class="page-content">
    <li>C результатами работы классификатора, а именно оценить общее количество классифицированных изображения и их распределение по различным категориям.</li>
    <li>C результатами опроса пользователей, а именно характеристики, которые они дали загруженным изображениям.</li>
</ul>
<p class="page-content">Кроме того, вы сможете самостоятельно сделать выводы о качестве классификатора.</p>

<h1>
<a href="{% url 'show_stats' %}">Показать статистику</a>
</h1>
{% endblock %}
